fastapi>=0.115.12
SQLAlchemy>=2.0.41
pydantic>=2.11.5
pytest>=8.3.5
passlib>=1.7.4
redis>=6.1.0
celery>=5.5.2
botocore>=1.37.3
python-dotenv>=1.1.0
transformers>=4.52.3
jose~=1.0.0
boto3~=1.37.3
numpy~=2.2.6
alembic~=1.16.1
av~=14.4.0
resampy~=0.4.3
openai>=1.82.0
# httpx>=1.0.0b0
uvicorn>=0.34.2
# intel-extension-for-pytorch==2.7.10+xpu
torch>=2.8.0
numba>=0.61.2
# Observabilidade
structlog>=24.4.0
prometheus-client>=0.21.0